body {
  background: #0d6efd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0d6efd,
    #396afc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2948ff,
    #396afc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}

.main {
  margin: auto;
  max-width: 768px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 1%;
  margin-top: 100px;
  background-color: #f0f2f5;
  border-radius: 8px;
}

.success {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: black;
}
